<div class="d-flex justify-content-center align-items-center vh-100">
  <div class="card shadow"
    style="max-width: 400px; background-color: rgba(255, 255, 255, 0.8); padding: 20px; border-radius: 10px;">
    <div class="text-center">
      <!-- Logo -->
      <img src="/assets/icons/trkme.png" alt="TrackMe" class="img-fluid mb-3" style="width: 100px; height: 100px;">
      <!-- Title -->
      <h5 class="fw-bold mb-4">TrackMe Chile</h5>
    </div>
    <!-- Formulario -->
    <form (ngSumbit)="getHelp()">
      <!-- Usuario -->
      <div class="mb-3">
        <div class="input-group">
          <span class="input-group-text bg-white"><i class="fa fa-user text-muted"></i></span>
          <input type="text" class="form-control" placeholder="Usuario" name="username" disabled>
        </div>
      </div>
      <!-- Contraseña -->
      <div class="mb-3">
        <div class="input-group">
          <span class="input-group-text bg-white"><i class="fa fa-lock text-muted"></i></span>
          <input type="password" class="form-control" placeholder="Contraseña" name="pass" disabled>
        </div>
      </div>
      <!-- Botón de Ingreso -->
      <div class="d-grid">
        <button class="btn btn-dark" type="submit">Ingresar</button>
      </div>
      <!-- Opciones adicionales -->
      <div class="text-center mt-3">
        <a style="cursor: pointer;" (click)="getHelp()" class="text-decoration-none text-muted">Olvidaste
          usuario/contraseña ?</a>
      </div>
      <div class="text-center mt-4">
        <a style="cursor: pointer;" (click)="getHelp()" class="text-decoration-none">
          Contactenos <i class="fa fa-long-arrow-right"></i>
        </a>
      </div>
    </form>
  </div>
</div>

<div class="help">
  <button (click)="getHelp()" class="btn btn-warning">
    <i class="bi bi-info-circle-fill"></i>
  </button>
</div>
